.timer-text-container {
  margin: 3px;
}

.timer {
  display: flex;
  align-items: center;
}

.timer-text {
  font-size: 31px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
