.modalView {
  margin-top: 80px;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  box-shadow: 2px 2px 0px #000;
  shadow-opacity: 0.25;
  shadow-radius: 4px;
  elevation: 5;
}

.modalBottomButtons {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.button {
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  elevation: 2;
}
